.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  flex-wrap: wrap;
}
@media (max-width: 35em) {
  .cards{
    display: flex;
    flex-direction: column;
    flex: 100%;
    margin: 5%;
    padding: auto;
    
  }
  .card-elements{
    margin: 10%;
  }
}

.card-elements {
  margin: 10px;
  flex: 1;
  cursor: pointer;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  border-radius: 15px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
}

.flip-card-front {
  background-color: #595959;
  z-index: 2;
  cursor: pointer;
}

.flip-card-back {
  background-color: #6f389f;
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
}

.box {
  width: 80px;
  height: 80px;
  object-fit: contain;
  border-radius: 10%;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}

.view-more-button {
  background-color: #5c2a85;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s;
}

.view-more-button:hover {
  background-color: #5c2a85;
}

@media (max-width: 768px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }

  .card-elements {
    margin: 10px;
    flex: none;
  }
}
